<a href="https://colab.research.google.com/github/SahuRicha435/explore/blob/main/data_representation_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

list1 = ['Geeks','For','Geeks','is','the','best']

df = pd.DataFrame(list1)
print(df)

       0
0  Geeks
1    For
2  Geeks
3     is
4    the
5   best

In [ ]:
import pandas as pd

my_list = [10,40.7,'apple','b']

df = pd.DataFrame(my_list,columns=['Tabular form'])

print(df)

  Tabular form
0           10
1         40.7
2        apple
3            b

In [ ]:
from tabulate import tabulate

print (tabulate([['aditi',19],['anmol',16],
                 ['bhavya',19],['ananya',19],
                 ['rajeev',50],['parul',45]],
                headers=['name','age']))

name      age
------  -----
aditi      19
anmol      16
bhavya     19
ananya     19
rajeev     50
parul      45

In [ ]:
pip install texttable

Requirement already satisfied: texttable in /usr/local/lib/python3.10/dist-packages (1.7.0)

In [ ]:
from texttable import Texttable
t=Texttable()
t.add_rows([['fruit','price/kg'],['apple',25],['banana',20]])
print(t.draw())

+--------+----------+
| fruit  | price/kg |
+========+==========+
| apple  | 25       |
+--------+----------+
| banana | 20       |
+--------+----------+

In [ ]:
pip install prettytable

Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (3.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable) (0.2.13)

In [ ]:
from prettytable import PrettyTable
t=PrettyTable(['subject code','subject','marks'])
t.add_row(['ko1','maths',95])
t.add_row(['ko4','physics',89])
t.add_row(['ko3','chemistry',92])
t.add_row(['ko8','english',91])
t.add_row(['k29','computer science',99])
t.add_row(['ko6','social science',86])

print(t)

+--------------+------------------+-------+
| subject code |     subject      | marks |
+--------------+------------------+-------+
|     ko1      |      maths       |   95  |
|     ko4      |     physics      |   89  |
|     ko3      |    chemistry     |   92  |
|     ko8      |     english      |   91  |
|     k29      | computer science |   99  |
|     ko6      |  social science  |   86  |
+--------------+------------------+-------+

In [ ]:
pip install terminaltables

Collecting terminaltables
  Downloading terminaltables-3.1.10-py2.py3-none-any.whl (15 kB)
Installing collected packages: terminaltables
Successfully installed terminaltables-3.1.10

In [ ]:
from terminaltables import AsciiTable
data=[['fruit' , 'price/kg'] , ['apple' ,25], ['banana' , 20]]
table = AsciiTable(data)
print(table.table)

+--------+----------+
| fruit  | price/kg |
+--------+----------+
| apple  | 25       |
| banana | 20       |
+--------+----------+

In [ ]:
from terminaltables import AsciiTable
data=[['fruit' , 'price/kg'] , ['apple' ,25], ['banana' , 20]]
table = AsciiTable(data,title='Fruit Prices')
table.justify = 'center'
table.inner_row_border = True
print(table.table)

+Fruit Prices-------+
| fruit  | price/kg |
+--------+----------+
| apple  | 25       |
+--------+----------+
| banana | 20       |
+--------+----------+

In [ ]:
import pandas as pd
d={'col1':[1,2,3,4,7],'col2':[4,5,6,9,5],'col3':[7,8,12,1,11]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [ ]:
import pandas as pd
data = {'name':['jai','princi','gaurav','anuj'],
        'age':[27,24,22,32],
        'address':['Delhi','Kanpur','Allhabad','Kannauj'],
        'Qualification':['Msc','MA','MCA','phd']}
df = pd.DataFrame(data)
print(df[['name','Qualification']])

     name Qualification
0     jai           Msc
1  princi            MA
2  gaurav           MCA
3    anuj           phd

In [ ]:
import pandas as pd

employees=[('stuti',28,'varanasi',20000),
           ('saumya',32,'delhi',25000),
           ('aditya',25,'mumbai',40000),
           ('saumya',32,'delhi',35000),
           ('saumya',32,'delhi',30000),
           ('saumya',32,'mumbai',20000),
           ('aditya',40,'dehradun',24000),
           ('seema',32,'delhi',70000)
           ]

df = pd.DataFrame(employees,
                  columns=['Name','Age',
                           'city','salary'])
df

     Name  Age      city  salary
0   stuti   28  varanasi   20000
1  saumya   32     delhi   25000
2  aditya   25    mumbai   40000
3  saumya   32     delhi   35000
4  saumya   32     delhi   30000
5  saumya   32    mumbai   20000
6  aditya   40  dehradun   24000
7   seema   32     delhi   70000

In [ ]:
result = df["city"]
result

0    varanasi
1       delhi
2      mumbai
3       delhi
4       delhi
5      mumbai
6    dehradun
7       delhi
Name: city, dtype: object

In [ ]:
result = df[["Name","Age","salary"]]
result

     Name  Age  salary
0   stuti   28   20000
1  saumya   32   25000
2  aditya   25   40000
3  saumya   32   35000
4  saumya   32   30000
5  saumya   32   20000
6  aditya   40   24000
7   seema   32   70000

In [ ]:
high_salary_employees=[employee for employee in employees if employee[3]>30000]
print(high_salary_employees)

[('aditya', 25, 'mumbai', 40000), ('saumya', 32, 'delhi', 35000), ('seema', 32, 'delhi', 70000)]